.actions_container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    gap: 1rem;
}

.select_group {
    display: flex;
    gap: 2rem;
}

select {
    margin-left: 0.5rem;
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add_button {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add_button:hover {
    background-color: #0056b3;
}
